// Assert
// ======

@mixin assert-true(
  $assert,
  $fail-message: '#{$assert} is not true.'
) {
  @if $assert { @include pass; }
  @else { @include fail($fail-message); }
}

@mixin assert-false(
  $assert,
  $fail-message: '#{$assert} is not false.'
) {
  @if not $assert { @include pass; }
  @else { @include fail($fail-message); }
}

@mixin assert-equal(
  $assert,
  $expected,
  $fail-message: '#{$assert} != #{$expected}'
) {
  @if $assert == $expected { @include pass; }
  @else { @include fail($fail-message); }
}

@mixin assert-unequal(
  $assert,
  $expected,
  $fail-message: '#{$assert} == #{$expected}'
) {
  @if $assert != $expected { @include pass; }
  @else { @include fail($fail-message); }
}
