// Assert
// ======



// Assert True
// -----------
/// Assert that a parameter is truthy.
/// Empty lists and strings are excluded from default Sass truthyness.
/// @access public
/// @group assertions
/// @param {*} $assert -
///   Asserted value to test
/// @param {String} $description [null] -
///   Description of the assertion being tested.
///   A `null` of `false` value generates a default description.
@mixin assert-true(
  $assert,
  $description: null
) {
  $default: _true-context('test');
  $truthy: _true-is-truthy($assert);

  @include _true-context('assert', '[assert-true] #{$description or $default}');
  @include _true-assert-results($truthy, true);
}


// Assert False
// ------------
/// Assert that a parameter is falsey.
/// Empty lists and strings are added to default Sass falseyness.
/// @access public
/// @group assertions
/// @param {*} $assert -
///   Asserted value to test
/// @param {String} $description [null] -
///   Description of the assertion being tested.
///   A `null` of `false` value generates a default description.
@mixin assert-false(
  $assert,
  $description: null
) {
  $default: _true-context('test');
  $falsey: not _true-is-truthy($assert);

  @include _true-context('assert', '[assert-false] #{$description or $default}');
  @include _true-assert-results($falsey, true);
}


// Assert Equal
// ------------
/// Assert that two parameters are `equal`
/// @access public
/// @group assertions
/// @param {*} $assert -
///   Asserted value to test
/// @param {*} $expected -
///   Expected match
/// @param {String} $description [null] -
///   Description of the assertion being tested
///   (a `null` of `false` value generates a default description)
/// @param {Bool} $inspect [false] -
///   Optionally compare inspected values
///   (useful for comparing CSS output rather than Sass values)
@mixin assert-equal(
  $assert,
  $expected,
  $description: null,
  $inspect: false
) {
  $default: _true-context('test');

  @if $inspect {
    $assert: inspect($assert);
    $expected: inspect($expected);
  }

  @include _true-context('assert', '[assert-equal] #{$description or $default}');
  @include _true-assert-results($assert, $expected);
}


// Assert UnEqual
// --------------
/// Assert that two parameters are `unequal`
/// @access public
/// @group assertions
/// @param {*} $assert -
///   Asserted value to test
/// @param {*} $expected -
///   Expected mismatch
/// @param {String} $description [null] -
///   Description of the assertion being tested.
///   A `null` of `false` value generates a default description.
/// @param {Bool} $inspect [false] -
///   Optionally compare inspected values
///   (useful for comparing CSS output rather than Sass values)
@mixin assert-unequal(
  $assert,
  $expected,
  $description: null,
  $inspect: false
) {
  $default: _true-context('test');

  @if $inspect {
    $assert: inspect($assert);
    $expected: inspect($expected);
  }

  @include _true-context('assert', '[assert-unequal] #{$description or $default}');
  @include _true-assert-results($assert, $expected, 'unequal');
}



// Assert [output]
// ---------------
/// Define a CSS-output assertion
/// @access public
/// @group assertions
/// @param {String} $description [null] -
///   Description of the assertion being tested.
///   A `null` of `false` value generates a default description.
/// @content Use `output()` and `expect()` mixins
///   to define blocks for comparison
@mixin assert(
  $description: null
) {
  $default: _true-context('test');
  @include _true-output-context('assert');
  @include _true-context('assert', '[output] #{$description or $default}');
  @include _true-message('  ASSERT: #{$description}  ', 'comments');

  @content;

  @include _true-output-context(null);
  @include _true-update-test('output-to-css');
  @include _true-update-stats-count('assertions');
  @include _true-context-pop();
  @include _true-message('  END_ASSERT  ', 'comments');
}



// Output
// ------
/// Describe the test content to be evaluated
/// The output will be compared against the results
/// of the `expect()` mixin.
/// @access public
/// @group assertions
/// @param {Bool} $selector [true] -
///   Optionally wrap the contents in a `.test-output` selector block,
///   so you can test property-value output directly.
@mixin output(
  $selector: true
) {
  @include _true-output-context('output');
  @include _true-message('  OUTPUT  ', 'comments');

  @if $selector {
    .test-output {
      @content;
    }
  } @else {
    @content;
  }

  @include _true-message('  END_OUTPUT  ', 'comments');
}



// Expect
// ------
/// Describe the output content to be expected.
/// The output will be compared against the results
///  of the `output()` mixin.
/// @access public
/// @group assertions
/// @param {Bool} $selector [true] -
///   Optionally wrap the contents in a `.test-output` selector block,
///   so you can test property-value output directly.
@mixin expect(
  $selector: true
) {
  @include _true-output-context('expect');
  @include _true-message('  EXPECTED  ', 'comments');

  @if $selector {
    .test-output {
      @content;
    }
  } @else {
    @content;
  }

  @include _true-message('  END_EXPECTED  ', 'comments');
}



// Assertion Helpers
// =================


// Assert Results
// --------------
/// Get an official result,
/// record it in the database and output,
/// provide details as necessary,
/// and end the assertion.
/// @access private
/// @group private
/// @param {*} $assert - Value to consider
/// @param {*} $expected - Expected match
/// @param {bool} $unequal [false] -
///   Set to `true` if the comparison is expected to fail
@mixin _true-assert-results(
  $assert,
  $expected,
  $unequal: false,
  $terminal: $true-terminal-output
) {
  $result: _true-get-result($assert, $expected, $unequal);

  @if $result == 'pass' {
    @include _true-pass-details;
  } @else {
    @include _true-fail-details($assert, $expected, $terminal);
  }

  @include _true-update-test($result);
  @include _true-update-stats-count('assertions');
  @include _true-context-pop();
}


// Is Truthy
// ---------
/// Check that a value is truthy
/// (empty lists and strings return false)
/// @access private
/// @group private
/// @param {*} $assert - Value to consider
/// @return {bool}
@function _true-is-truthy(
  $assert
) {
  $truthy: if(
    (not not $assert) and ($assert != '') and ($assert != ()),
    true, false);

  @return $truthy;
}
