// Messages
// ========

@mixin result-message(
  $message,
  $output
) {
  @if index($output, css) {
    /* #{$message} */
  } @else if index($output, debug) or index($output, terminal) {
    @debug $message;
  } @else if index($output, warn) {
    @warn $message;
  }
}
