// Messages
// ========


// True Message
// ------------
/// Output a message to CSS comments,
/// or command line terminal (via debug/warn)
/// @access private
/// @group private-message
/// @param {String} $message -
///   Message to output
/// @param {String} $output [comments] -
///   Type of output, either `comments`, `terminal`, `debug` or `warn`
@mixin _true-message(
  $message,
  $output: 'comments',
  $comment-padding: 0
) {
  $pad: '';

  @if ($comment-padding > 0) {
    @for $i from 0 to $comment-padding {
      $pad: $pad + ' ';
    }
  }

  @each $line in $message {
    @if index($output, 'comments') {
      /* #{$pad + $line} */ // sass-lint:disable-line no-css-comments
    }

    @if index($output, 'debug') or index($output, 'terminal') {
      @debug $line; // sass-lint:disable-line no-debug
    }

    @if index($output, 'warn') {
      @warn $line;
    }
  }
}
