// Test Modules
// ============

$test-module-results  : null;

// Establish a new test module
@mixin test-module(
  $name,
  $output: true
) {
  // Setup
  $test-result-context: module;
  $test-module-results: compact();

  @if $output {
    @include result-message('

### #{$name} ------', css);
  }

  // Content
  @content;

  $results: collate-results($test-module-results);
  $total: nth($results, 1);
  $pass: nth($results, 2);
  $fail: nth($results, 3);

  // Results
  @if $output {
    $debug-message: '#{$name}: #{$total} Tests, #{$pass} Passed, #{$fail} failed';
    @include result-message($debug-message, debug);

    $css-message: '
    Summary:
    - #{$total} Tests
    - #{$pass} Passed
    - #{$fail} Failed';
    @include result-message($css-message, css);
  }

  // record for final results
  $total-tests: nth($total-test-results, 1) + $total;
  $total-passed: nth($total-test-results, 2) + $pass;
  $total-failed: nth($total-test-results, 3) + $fail;

  $total-test-results: $total-tests $total-passed $total-failed;

  // Teardown
  $test-result-context: null;
  $test-module-results: null;
}
