// Test Modules
// ============

$test-output: terminal css !default;

$module-name: null;
$test-results: null;

// Collate test results
@function collate-results(
  $results
) {
  $total: length($results);
  $pass: 0;
  $fail: 0;

  @each $test in $results {
    @if $test == 'p' { $pass: $pass + 1; }
    @if $test == 'f' { $fail: $fail + 1; }
  }

  @return $total $pass $fail;
}

// Establish a new test module
@mixin test-module(
  $name,
  $output: $test-output
) {
  $module-name: $name;
  $test-results: compact();

  @content;

  $results: collate-results($test-results);
  $total: nth($results, 1);
  $pass: nth($results, 2);
  $fail: nth($results, 3);

  $result-message: '#{$name}: Passed #{$pass} of #{$total} (#{$fail} tests failed)';

  @if index($output, css) { /* #{$result-message} */ }
  @if index($output, terminal) { @debug $result-message; }

  $module-name: null;
  $test-results: null;
}
