// Final Reporting
// ===============


// Report
// ------
/// Report results summary to CSS
/// and (optionally) the command line
/// @access public
/// @group api-xreport
/// @param {bool} $terminal [$true-terminal-output] -
///   Optionally output results to the terminal
/// @param {bool} $fail-on-error [false] -
///   Optionally error out the compiler if tests have failed
/// @param {map} $results [$_true-results] -
///   A map of run, pass, fail, and output-to-css results
/// @param {map} $stats [$_true-stats] -
///   A map of module, test, and assertion statistics
/// @example scss
///   $true-terminal-output: false;
///   @include report;
@mixin report(
  $terminal: $true-terminal-output,
  $fail-on-error: false,
  $results: $_true-results,
  $stats: $_true-stats
) {
  $fail: map-get($results, 'fail');

  $run: map-get($results, 'run');
  $pass: map-get($results, 'pass');
  $fail: map-get($results, 'fail');
  $output: map-get($results, 'output-to-css');
  $total: $pass + $fail + $output;
  $tests: map-get($stats, 'tests');

  $comment: _true-report-message('linebreak', $results, $stats);
  @include _true-message($comment, 'comments');

  @if $terminal {
    $debug: _true-report-message(not 'linebreak', $results, $stats);
    @include _true-message($debug, 'debug');
  }

  @if ($run != $tests) or ($run != $total) {
    $error: 'The results don’t add up. Are all your tests properly structured?';
    @include _true-error($error, 'report');
  }

  @if $fail-on-error and ($fail > 0) {
    $plural: if(($fail == 1), 'test', 'tests');
    @include _true-error('#{$fail} #{$plural} failed', 'report');
  }
}


// Report Message
// --------------
/// Report results summary to CSS
/// and (optionally) the command line
/// @access private
/// @group private-message
/// @param {bool} $linebreak [false] -
///   Return single-line messages for results/stats,
///   or optionally break into multi-line lists.
/// @param {map} $results [$_true-results] -
///   A map of run, pass, fail, and output-to-css results
/// @param {map} $stats [$_true-stats] -
///   A map of module, test, and assertion-counts in your project
@function _true-report-message(
  $linebreak: false,
  $results: $_true-results,
  $stats: $_true-stats
) {
  @if $linebreak {
    @return _true-join-multiple(
      '# SUMMARY ----------',
      _true-results-message('linebreak', $results),
      _true-stats-message('linebreak', $stats),
      '--------------------'
    );
  }

  $report: (
    _true-results-message(null, $results),
    _true-stats-message(null, $stats),
  );

  @return $report;
}
