// Results
// =======

/// Results map
/// @access private
/// @group x_private
/// @type Map
$_true-results: (
  run: 0,
  pass: 0,
  fail: 0,
  output-to-css: 0,
);


// Update
// ------

/// Update results
/// @access private
/// @group x_private
/// @param {String} $result - Result (pass/fail/output-to-css)
/// @require {function} _true-map-increment
/// @require $_true-results
@mixin _true-update($result) {
  $_true-results: _true-map-increment($_true-results, (
    run: 1,
    $result: 1,
  )) !global;
}


// Report Message
// --------------

/// Report message
/// @access private
/// @group x_private
/// @param {String} $scope [test] - Scope
/// @param {String} $lines [single] - Lines
/// @return {String} - Reported message
/// @require {function} _true-get-results
@function _true-report-message(
  $scope: 'test',
  $lines: 'single'
) {
  $run: map-get($_true-results, 'run');
  $pass: map-get($_true-results, 'pass');
  $fail: map-get($_true-results, 'fail');
  $output-to-css: map-get($_true-results, 'output-to-css');

  $items: null;
  $message: null;

  @if $scope == 'global' or $scope == 'module' {
    $items: 'Tests';
  } @else if $scope == 'test' {
    $items: 'Assertions';
  }

  @if $lines == 'single' {
    $message: '#{$run} #{$items}, #{$pass} Passed, #{$fail} Failed';
    $message: if($output-to-css > 0, $message + ', #{$output-to-css} Output to CSS', $message);
  } @else {
    $message: '#{$run $items}:#{$-tnl} - #{$pass} Passed#{$-tnl} - #{$fail} Failed';
    $message: if($output-to-css > 0, $message + '#{$-tnl} - #{$output-to-css} Output to CSS', $message);
  }

  @return $message;
}


// Report
// ------

/// Report results summary to CSS and/or command line
/// @access public
/// @group reporting
/// @param {Bool} $terminal [$true-terminal-output] - Whether or not to use terminal output
/// @require {function} _true-report-message
/// @require {function} _true-message
@mixin report(
  $terminal: $true-terminal-output
) {
  $message: _true-report-message('global', 'multiple');
  @include _true-message('# SUMMARY ----------', 'comments');
  @include _true-message($message, 'comments');
  @include _true-message('--------------------', 'comments');

  @if $terminal {
    $message: _true-report-message('global', 'single');
    @include _true-message($message, 'debug');
  }
}
