// Results
// =======

$total-test-results   : 0 0 0;
$test-result-context  : null;

$pass-marker          : p;
$fail-marker          : f;

$test-pass-message    : false     !default;
$test-fail-message    : 'F'       !default;

// Collate test results
// --------------------

@function collate-results(
  $results
) {
  $total: length($results);
  $pass: 0;
  $fail: 0;

  @each $test in $results {
    @if $test == $pass-marker { $pass: $pass + 1; }
    @if $test == $fail-marker { $fail: $fail + 1; }
  }

  @return $total $pass $fail;
}


// Record test results
// -------------------

@mixin record-result(
  $result,
  $context: $test-result-context
) {
  $marker: null;

  @if $result == 'pass' {
    $marker: $pass-marker;
  } @else if $result == 'fail' {
    $marker: $fail-marker;
  }

  // record results
  @if $context == 'test' {
    $test-results: append($test-results, $marker);
  } @else if $context == 'module' {
    $test-module-results: append($test-module-results, $marker);
  }
}


// Report test results
// -------------------

@mixin report-test(
  $name,
  $results,
  $context: module,
  $output: true
) {
  $results: collate-results($test-results);
  $total: nth($results, 1);
  $pass: nth($results, 2);
  $fail: nth($results, 3);

  $message: '#{$name} (#{$total} assertions, #{$pass} passed, #{$fail} failed)';

  @if $fail > 0 or $pass < 1 {
    $fail-message: '- FAIL: ' + $message;
    @include fail($fail-message, $context, $output: $output);
    @if $output { @include result-message('FAIL: ' + $message, css); }
  }
  @else {
    $pass-message: '- ' + $message;
    @include pass($test-pass-message, $context, $output: $output);
    @if $output { @include result-message($pass-message, css); }
  }

}


// Pass / Fail
// -----------

@mixin pass(
  $pass: $test-pass-message,
  $context: $test-result-context,
  $output: true
) {
  @include record-result(pass, $context);
  @if $output and $test-pass-message { @include result-message($pass, debug); }
}

@mixin fail(
  $fail: $test-fail-message,
  $context: $test-result-context,
  $output: true
) {
  @include record-result(fail, $context);
  @if $output and $test-fail-message { @include result-message($fail, warn); }
}

// Final Results

@function report(
  $results: $total-test-results
) {
  $total: nth($results, 1);
  $pass: nth($results, 2);
  $fail: nth($results, 3);

  $message: 'TOTAL: #{$total} Tests, #{$pass} Passed, #{$fail} failed';

  @return $message;
}

@mixin report(
) {
  $message: report($total-test-results);
  @include result-message($message, debug);
}
