// True Settings
// =============

/// Whether or not to use the terminal as output stream
/// @access public
/// @group settings
/// @type Bool
$true-terminal-output: true !default;


// Context (private)
// -----------------

/// True current context
/// @access private
/// @group settings
/// @type Map
/// @prop {String} module [null]
/// @prop {String} test [null]
/// @prop {String} assert [null]
$_true-context: (
  module: null,
  test: null,
  assert: null,
);

/// Update the current context
/// @access private
/// @group settings
/// @param {String} $scope - Either `module`, `test` or `assert`
/// @param {String} $name - Name of current scope
/// @require $_true-context
@mixin _true-context(
  $scope,
  $name
) {
  $_true-context: map-merge($_true-context, ($scope: $name)) !global;
}

/// Get information on current context
/// @access private
/// @group settings
/// @param {String} $scope - Either `module`, `test` or `assert`
/// @return {String}
@function _true-context(
  $scope
) {
  @return map-get($_true-context, $scope);
}
