// True Settings
// =============

$true-terminal-output: false !default;


// Context (private)
// -----------------

$_true-context: (
  module: null,
  test: null,
  assert: null,
);

@mixin _true-context(
  $scope,
  $name
) {
  $_true-context: map-merge($_true-context, ($scope: $name)) !global;
}

@function _true-context(
  $scope
) {
  @return map-get($_true-context, $scope);
}
