// Tests
// =====



// Test
// ----
/// Describe a Test
/// @access public
/// @group api-testing
/// @param {string} $name -
///   Describe what is being tested
/// @content Include any assertions that are part of this test
@mixin test(
  $name
) {
  @include _true-test-start($name);
  @content;
  @include _true-test-stop;
}



// Test Start
// ----------
/// Test start helper
/// @access private
/// @group private-test
/// @param {string} $name -
///   Describe what is being tested
@mixin _true-test-start(
  $name
) {
  @include _true-context('test', $name);
  @include _true-message('Test: #{$name}', 'comments');
}



// Test Stop
// ---------
/// Test stop helper
/// @access private
/// @group private-test
@mixin _true-test-stop {
  @include _true-update($_true-test-result);
  @include _true-update-stats-count('tests');
  @include _true-context-pop;
  @include _true-message('', 'comments');
}
