// Utilities
// =========

// Add map values together
@function map-add(
  $base,
  $add
) {
  @each $key, $value in $add {
    @if $value {
      $base-value: map-get($base, $key);
      $new-value: if($base-value, $base-value + $value, $value);
      $base: map-merge($base, ($key: $new-value));
    }
  }

  @return $base;
}

// Return a map as a string
@function map-to-string(
  $map
) {
  @if type-of($map) != map {
    @return $map;
  } @else {
    $return: '(';
    $i: 1;
    @each $key, $value in $map {
      $return: $return + '#{$key}: #{$value}';
      @if $i < length(map-keys($map)) {
        $return: $return + ', ';
      }
      $i: $i + 1;
    }
    @return $return + ')';
  }
}

// Split a string
@function str-split($string, $substring) {
  $strings: ();
  $found-at: str-index($string, $substring);
  @while $found-at {
    $strings: append($strings, if($found-at > 1, str-slice($string, 1, $found-at - 1), ""));
    $string: str-slice($string, $found-at + str-length($substring));
    $found-at: str-index($string, $substring);
  }
  $strings: append($strings, $string);
  @return $strings;
}
