// Test Assertions
// ===============

@include start-test-module('Assert');

%test__assert {
  @include assert-true(true);
  @include assert-false(false);
  @include assert-equal(1,1);
  @include assert-unequal(1,3);
}

@include report-test-results;
