// Test Assertions
// ===============

@include test-module('Assert') {

  @include test('Assert True [mixin]') {
    @include assert-true(true,
      'True should assert true.');
  }

  @include test('Assert False [mixin]') {
    @include assert-false(false,
      'False should assert false.');
  }

  @include test('Assert Equal [mixin]') {
    @include assert-equal(1, 1,
      '1 and 1 should be equal.');
  }

  @include test('Assert Unequal [mixin]') {
    @include assert-unequal(1, 3,
      '1 and 3 should be un-equal.');
  }

  @include test('Assert CSS: output/expect [mixins]') {
    @include assert('Output and expected selector patterns match') {
      @include output {
        -property: value;

        @media (min-width: 30em) {
          -prop: val;

          @at-root {
            .selector {
              -prop: val;
            }
          }
        }
      }

      @include expect {
        -property: value;

        @media (min-width: 30em) {
          -prop: val;

          @at-root {
            .selector {
              -prop: val;
            }
          }
        }
      }
    }

    @include assert('Deprecated input alias works for now') {
      @include input(false) {
        .test {
          -property: value;
        }
      }
      @include expect(false) {
        .test {
          -property: value;
        }
      }
    }
  }
}
