@use "sass:color";
@use "sass:list";
@use "sass:meta";
@use "sass:string";
@use "../../sass/assert";
@use "../../sass/true/context";
@use "../../sass/true/modules";
@use "../../sass/true/output";
@use "../../sass/true/tests";

// Result Output Tests
// ===================

// Pass Details
@include modules.test-module('pass-details [mixin]') {
  @include tests.test('Properly output a passing assertion result') {
    @include assert.assert('passing test') {
      @include assert.output {
        @include output.pass-details;
      }

      @include assert.expect {
        /*   ✔ [output] passing test */
      }
    }
  }
}

// Variable Details
@include modules.test-module('variable-details [function]') {
  @include tests.test('Number') {
    @include assert.assert-equal(output.variable-details(1em), '[number] 1em');
  }

  @include tests.test('Color') {
    @include assert.assert-equal(output.variable-details(#ccc), '[color] #ccc');
  }

  @include tests.test('Map') {
    $map: (
      'key': 'value',
    );

    @include assert.assert-equal(
      output.variable-details($map),
      '[map] ("key": "value")'
    );
  }

  @include tests.test('Bracketed List') {
    $list: ['one' 'two'];

    @include assert.assert-equal(
      output.variable-details($list),
      '[list] ["one" "two"]'
    );
  }
}

// EdgeFail Notes
@include modules.test-module('edgefail-notes [function]') {
  @include tests.test('Type mismatch') {
    $message: '- Details: variable types do not match (set `$inspect: true` to compare output values)';

    @include assert.assert-equal(output.edgefail-notes(1em, '1em'), $message);

    $list: ('one', 'two');
    $string: meta.inspect($list);

    @include assert.assert-equal(output.edgefail-notes($list, $string), $message);
  }

  $string-one: string.unquote('hello world');
  $string-two: string.quote('hello world');

  @if ($string-one != $string-two) {
    @include tests.test('String quotes') {
      $message: '- Details: string quotations do not match';

      @include assert.assert-equal(
        output.edgefail-notes($string-one, $string-two),
        $message
      );
    }
  }

  @include tests.test('Number rounding') {
    $message: '- Details: numbers may need to be rounded before comparison (set `$inspect: true` to compare output values)';

    @include assert.assert-equal(output.edgefail-notes(1/3, 0.3333333333), $message);
  }

  @include tests.test('Color rounding') {
    $message: '- Details: colors may need to be rounded before comparison (set `$inspect: true` to compare output values)';

    @include assert.assert-equal(
      output.edgefail-notes(color.adjust(#246, $lightness: 15%), #356a9f),
      $message
    );
  }

  @include tests.test('List Separators') {
    $message: '- Details: list-separators do not match';

    $space: list.join((), 'one', space);
    $comma: list.join((), 'one', comma);

    @include assert.assert-equal(output.edgefail-notes($space, $comma), $message);
  }
}

// Fail Details
@include modules.test-module('fail-details [mixin]') {
  @include tests.test('Compiles full failure details') {
    @include assert.assert {
      @include assert.output {
        @include context.context('assert', '[assert-equal] Test assertion');
        @include output.fail-details(1/3, 0.3333333333, not 'terminal');
        @include context.context-pop;
      }

      @include assert.expect {
        /*   ✖ FAILED: [assert-equal] Test assertion */
        /*     - Output: [number] 0.3333333333 */
        /*     - Expected: [number] 0.3333333333 */
        /*     - Details: numbers may need to be rounded before comparison (set `$inspect: true` to compare output values) */
        /*     - Module: fail-details [mixin] */
        /*     - Test: Compiles full failure details */
      }
    }
  }
}
