@use "sass:map";
@use "../../sass/assert";
@use "../../sass/true/modules";
@use "../../sass/true/stats";
@use "../../sass/true/tests";

// Stats Reporting Tests
// =====================

@include modules.test-module('Update Stats Count') {
  $before: stats.$stats;
  @include stats.update-stats-count('assertions');
  $actual: stats.$stats;
  stats.$stats: $before;

  @include tests.test('Assertions counts are updated') {
    @include assert.assert-equal(
      map.get($actual, 'assertions'),
      map.get($before, 'assertions') + 1
    );
  }

  @include tests.test('Modules counts are left as-is') {
    @include assert.assert-equal(
      map.get($actual, 'modules'),
      map.get($before, 'modules')
    );
  }

  @include tests.test('Tests counts are left as-is') {
    @include assert.assert-equal(map.get($actual, 'tests'), map.get($before, 'tests'));
  }
}

@include modules.test-module('stats-message [function]') {
  $test-map: (
    'modules': 4,
    'tests': 6,
    'assertions': 25,
  );

  @include tests.test('Single Line') {
    @include assert.assert-equal(
      stats.stats-message($stats: $test-map),
      '4 Modules, 6 Tests, 25 Assertions'
    );
  }

  @include tests.test('Linebreaks') {
    $message: ('Stats:', '- 4 Modules', '- 6 Tests', '- 25 Assertions');
    @include assert.assert-equal(
      stats.stats-message('linebreaks', $test-map),
      $message
    );
  }
}
