// True Tests
// ==========

$true-terminal-output: details;

@import "../sass/true";

@import "settings";
@import "utilities";
@import "messages";
@import "results";
@import "modules";
@import "tests";
@import "assert";

@include report;
