@use '../../sass/config' as init with (
  $catch-errors: true,
  $terminal-output: false
);
@use '../../sass/true';
@use 'sass:meta';

@use 'errors';

// Sass import legacy test

@import '../../sass/true';

@include true.describe('Imported $terminal-output setting') {
  @include true.it('Is prefixed as $true-terminal-output') {
    @include true.assert-true(
      meta.global-variable-exists('true-terminal-output')
    );
  }
}

// report

@include true.report;
