@use '../../sass/config' as init with (
  $terminal-output: false
);
@use '../../sass/true';

@use 'config';
@use 'data';
@use 'assert';
@use 'module';
@use 'tests';
@use 'report';

// Ignore Non-Test Output
.not-a-test {
  break: please-no;
}

// report

@include true.report;
