@use 'sass:map';
@use '../config';
@use '../data';
@use 'utils';

/// # Reporting Results
/// @group api-report

// Report
// ------
/// Report results summary to CSS
/// and (optionally) the command line
/// @access public
/// @group api-report
/// @param {bool} $terminal [$terminal-output] -
///   Optionally output results to the terminal
/// @param {bool} $fail-on-error [false] -
///   Optionally error out the compiler if tests have failed
/// @param {map} $results [$results] -
///   A map of run, pass, fail, and output-to-css results
/// @param {map} $stats [$stats] -
///   A map of module, test, and assertion statistics
/// @example scss -
///   true.$terminal-output: false;
///   @include true.report;
@mixin report(
  $terminal: config.$terminal-output,
  $fail-on-error: false,
  $results: data.$results,
  $stats: data.$stats
) {
  $fail: map.get($results, 'fail');
  $run: map.get($results, 'run');
  $pass: map.get($results, 'pass');
  $fail: map.get($results, 'fail');
  $output: map.get($results, 'output-to-css');
  $total: $pass + $fail + $output;
  $tests: map.get($stats, 'tests');
  $comment: utils.report-message('linebreak', $results, $stats);

  @include config.message($comment, 'comments');

  @if $terminal {
    $debug: utils.report-message(not 'linebreak', $results, $stats);

    @include config.message($debug, 'debug');
  }

  @if ($run != $tests) or ($run != $total) {
    $error: 'The results don’t add up. Are all your tests properly structured?';

    @include config.error($error, 'report');
  }

  @if $fail-on-error and ($fail > 0) {
    $plural: if(($fail == 1), 'test', 'tests');

    @include config.error('#{$fail} #{$plural} failed', 'report');
  }
}
