**/.DS_Store
*.css.map
.bundle
.nvmrc
.nyc_output/
.pages/
.sass-cache/
.vscode/
Gemfile.lock
coverage/
docs/
lib/
node_modules/
pkg/*
test/.sass-cache/
true-*.gem

# Yarn
yarn-error.log
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
