/*  

### Utilities ------ */
/*  - Map Add [function] (1 Assertions, 1 Passed, 0 Failed) */
/*  
   1 Tests:
   - 1 Passed
   - 0 Failed */
/*  

### Assert ------ */
/*  - Assertions pass when given simple true/false/equality (4 Assertions, 4 Passed, 0 Failed) */
/*  
   1 Tests:
   - 1 Passed
   - 0 Failed */
/*  

### Modules ------ */
/*  -  */
/*  - Module results are properly tracked (1 Assertions, 1 Passed, 0 Failed) */
/*  
   1 Tests:
   - 1 Passed
   - 0 Failed */
