@charset "UTF-8";
/* # Module: Settings */
/* ------------------ */
/* Test: true-context [mixin] */
/*   ✔ Confirm that there is currently no "fake" scope */
/*   ✔ Sets the value of scope "fake" to "this scope is not real" */
/*   ✔ Confirm that our "fake" scope has been removed */
/*  */
/* Test: _true-context [function] */
/*   ✔ Returns the current module name */
/*   ✔ Returns the current test name */
/*  */
/* # Module: Settings :: nested */
/* ---------------- */
/* Test: _true-context [function] */
/*   ✔ Returns the innermost module name */
/*  */
/* Test: _true-context-all [function] */
/*   ✔ Returns the current stack of module names */
/*  */
/*  */
/*  */
/* # Module: Utilities */
/* ------------------- */
/* Test: Map Add [function] */
/*   ✔ Returns the sum of two numeric maps */
/*  */
/* Test: String Split [function] */
/*   ✔ Returns a list of substrings, based on any delimiter. */
/*  */
/* Test: String Join [function] */
/*   ✔ Returns a single string, based on any delimiter. */
/*  */
/*  */
/* # Module: Is Equal [function] */
/* ----------------------------- */
/* Test: Simple numbers */
/*   ✔ Returns true for numbers that are truely equal. */
/*  */
/* Test: Mismatched units */
/*   ✔ Returns false for equal numbers with different units. */
/*  */
/* Test: Adding floats */
/*   ✔ 0.1 + 0.2 should equal .3. */
/*  */
/* Test: Rounded numbers with division */
/*   ✔ 1/3 should equal .33333. */
/*  */
/*  */
/* # Module: True Message */
/* ---------------------- */
/* Test: Simple messages */
/*   ASSERT: Render as CSS comments   */
/*   OUTPUT   */
/* This is a simple message */
/*   END_OUTPUT   */
/*   EXPECTED   */
/* This is a simple message */
/*   END_EXPECTED   */
/*   END_ASSERT   */
/*  */
/* Test: Multi-line messages */
/*   ASSERT: Render as multiple CSS comments   */
/*   OUTPUT   */
/* This is a  */
/* multiline message */
/*   END_OUTPUT   */
/*   EXPECTED   */
/* This is a  */
/* multiline message */
/*   END_EXPECTED   */
/*   END_ASSERT   */
/*  */
/*  */
/* # Module: Results */
/* ----------------- */
/* Test: Update with pass */
/*   ✔ increments run */
/*   ✔ increments pass */
/*   ✔ leaves fails as-is */
/*   ✔ leaves output-to-css as-is */
/*  */
/*  */
/* # Module: Modules */
/* ----------------- */
/* Test: test-module */
/*   ✔ Changes the current module context */
/*  */
/*  */
/* # Module: Tests */
/* --------------- */
/* Test: test [mixin] */
/*   ✔ Changes the current test context */
/*  */
/*  */
/* # Module: Assert True */
/* --------------------- */
/* Test: Truthiness */
/*   ✔ Non-false properties return true. */
/*  */
/*  */
/* # Module: Assert False */
/* ---------------------- */
/* Test: Falsiness */
/*   ✔ Negated properties return false. */
/*  */
/*  */
/* # Module: Assert Equal */
/* ---------------------- */
/* Test: Equality */
/*   ✔ 2 - 1 should equal 1. */
/*  */
/* Test: Empty description */
/*   ✔ "1" and "1" should be equal */
/*  */
/*  */
/* # Module: Assert UnEqual */
/* ------------------------ */
/* Test: Inequality */
/*   ✔ 3 - 1 is not equal to 3. */
/*  */
/*  */
/* # Module: Assert (output) */
/* ------------------------- */
/* Test: CSS output math */
/*   ASSERT: Output math compares properly   */
/*   OUTPUT   */
.test-output {
  -property1: 0.3;
  -property2: 0.33333; }

/*   END_OUTPUT   */
/*   EXPECTED   */
.test-output {
  -property1: 0.3;
  -property2: 0.33333; }

/*   END_EXPECTED   */
/*   END_ASSERT   */
/*  */
/* Test: output/expect [mixins] */
/*   ASSERT: Output and expected selector patterns match   */
/*   OUTPUT   */
.test-output {
  -property: value; }
  @media (min-width: 30em) {
    .test-output {
      -prop: val; }
      .selector {
        -prop: val; } }

/*   END_OUTPUT   */
/*   EXPECTED   */
.test-output {
  -property: value; }
  @media (min-width: 30em) {
    .test-output {
      -prop: val; }
      .selector {
        -prop: val; } }

/*   END_EXPECTED   */
/*   END_ASSERT   */
/*   ASSERT: Deprecated input alias works for now   */
/*   OUTPUT   */
.test {
  /* comments are also allowed in assertions */
  -property: value; }

/*   END_OUTPUT   */
/*   EXPECTED   */
.test {
  /* comments are also allowed in assertions */
  -property: value; }

/*   END_EXPECTED   */
/*   END_ASSERT   */
/*  */
/*  */
/* # Module: breakpoint */
/* -------------------- */
/* Test: should return the appropriate breakpoint value based on the passed key */
/*   ✔ "940px" and "940px" should be equal */
/*  */
/*  */
/* # SUMMARY ---------- */
/* 31 Tests: */
/*  - 26 Passed */
/*  - 0 Failed */
/*  - 5 Output to CSS */
/* -------------------- */
