@use 'stub' as *;
@use '../../../index' as *;
@use '../../../sass/report';
@use '../../../sass/config';

// Report Tests
// ============

@include describe('Report') {
  @include it('Output Message') {
    @include assert {
      @include output {
        @include report.report(false, false, $fake-results, $fake-stats);
      }
      @include expect {
        @include config.message($multi, 'comments');
      }
    }
  }
}
